<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transactions-card">
    <template>
    <style>
      :host {
        display: block;
      }
      h2{
        display: grid;
        justify-content: center;
      }
      .container{
        background-color: rgb(216, 216, 216);
        width: 100%;
        height: 300px;
      }
      table{
        padding-top: 5px;
        width: inherit;
      }


    </style>
    <!--Maquetacion de componentes-->
    <h2>[[prop1]]</h2>
    <section class="container">
      <table>
        <thead>
          <tr>
            <th colspan="2">Date</th>
            <th colspan="4">Description</th>
            <th colspan="2">Acco</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>

      </table>

    </section>

  </template>

    <script>
        /**
         * `transactions-card`
         * Tarjeta de transacciones
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class TransactionsCard extends Polymer.Element {
            static get is() {
                return 'transactions-card';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Transactions'
                    }
                };
            }
        }

        window.customElements.define(TransactionsCard.is, TransactionsCard);
    </script>
</dom-module>